---
title: near you
days:
  - date:
    times: true
    id: '#'
    title: Time
    slots:
      - title: '08:30 - 09:30'
      - title: '09:30 - 10:30'
      - title: '10:30 - 11:15'
      - title: '11:15 - 11:45'
      - title: '11:45 - 12:30'
      - title: '12:30 - 13:15'
      - title: '13:15 - 15:00'
      - title: '15:00 - 15:45'
      - title: '15:45 - 16:30'
      - title: '16:30 - 17:00'
      - title: '17:00 - 17:45'
      - title: '17:45 - 18:45'

  - date: Thursday 13<sup>th</sup>
    id: oct13
    title: Workshops
    slots:
      - title: ''
      - title: Rspec for newbies
        speaker: Fernando Blat
        rowspan: 2
      -
      - title: Break
        class: lunch
      - title: React on Rails workshop
        speaker: Prathamesh Sonpatki
        rowspan: 2
      -
      - title: LUNCH
        class: lunch
      - title: 'Hack & meet'
        speaker: 
        rowspan: 2
      -
      - title: ''
      - title: ''
      - title: ''
  - date: Friday 14<sup>th</sup>
    id: oct14
    title: Day 1
    slots:
      - title: Registration
        class: lunch
      - title: OPENING
        speaker: Xavi Noria
        class: keynote
      - title: Upgrade strategies<br>for Ruby and Rails
        speaker: Enrique Mogollan
      - title: Break
        class: lunch
      - title: Responsible gem collector
        speaker: Adam Niedzielski
      - title: Semi-advanced PostgreSQL<br>with Ruby on Rails
        speaker: Enrique García Cota
      - title: LUNCH
        class: lunch
      - title: "Ten years with Rails,<br>wow's and meh's"
        speaker: Fernando Blat
      - title: Highly scalable storage with MySQL and Ruby
        speaker: Olek Janiszewski
      - title: Break
        class: lunch
      - title: Understanding Unix pipes<br>with Ruby
        speaker: Sergio Gil
      - title: 'KEYNOTE'
        speaker: Godfrey Chan
        class: keynote
  - date: Saturday 15<sup>th</sup>
    id: oct15
    title: Day 2
    slots:
      - title: Registration
        class: lunch
      - title: KEYNOTE
        speaker: Kerri Miller
        class: keynote
      - title: 20 tips to secure your Rails app
        speaker: Daniel Lobato Garcia
      - title: Break
        class: lunch
      - title: Secrets of testing Rails 5 apps
        speaker: Prathamesh Sonpatki
      - title: Bulk load data with<br>ActiveRecord and NoSQL
        speaker: Carlos Sánchez Pérez
      - title: LUNCH
        class: lunch
      - title: How we build an SPA<br>with Rails API and React.js
        speaker: Adam Pahlevi
      - title: Phoenix Framework<br>for Rails devs
        speaker: Javier Cuevas
      - title: Break
        class: lunch
      - title: Tech work and mental health
        speaker: Diego Fernández Fernández
      - title: CLOSING
        speaker: Aaron Patterson
        class: keynote


---
<h1>Conferencia Rails <em class='date'>Madrid, 13-15th October 2016</em></h1>

<h2>Schedule</h2>

<p>
Conferencia Rails' provisional schedule, subject to changes
</p>

<section id='schedule'>

  <!-- desktop -->
  <table class='table-wide'>
    <tr> {% for day in page.days %} <td class='date'>{{ day.date }}</td> {% endfor %} </tr>
    <tr> {% for day in page.days %} <th>{{ day.title }}</th> {% endfor %} </tr>
    {% for i in (0..12) %}
    <tr>
      {% for day in page.days %}
        {% if day.slots[i].title %}
        <td rowspan='{{ day.slots[i].rowspan | default 1 }}' class='{{ day.slots[i].class}}'>
          {{ day.slots[i].title }} <br> <i>{{day.slots[i].speaker}}</i>
        </td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </table>


  <!-- mobile -->
  <table class='table-thin' id='{{ day.id }}'>
    <tr>
      {% for day in page.days %}
      {% if day.date %}
      <td>
        <a href='#{{day.id}}'>{{ day.title }}</a>
      <td>
      {% endif %}
      {% endfor %}
    </tr>
  </table>

  {% for day in page.days %}
    {% if day.times != true %}
    <table class='table-thin' id='{{ day.id }}'>
      <tr><td class='date' colspan='2'>{{ day.date }}</td></tr>
      <tr><th colspan='2'>{{ day.title }}</th></tr>
      {% for i in (0..11) %}
      {% assign slot = day.slots[i] %}
      <tr>
        <td> {{ page.days[0].slots[i].title }} </td>
        {% if slot.title %}
        <td rowspan='{{ slot.rowspan | default 1 }}' class='{{ slot.class }}'>
          {{ slot.title }} <br> <i>{{slot.speaker}}</i>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  {% endfor %}

</section>


