---
title: Speakers & Talks
talks:
  - title: OPENING
    speaker: Xavi Noria
    twitter: fxn
    type: keynote
    avatar: https://www.gravatar.com/avatar/7223c62b7310e164eb79c740188abbda
    abstract: |
      Famous for his excellent work on Rails documentation and Rails Guides,
      Xavier Noria (@fxn) is Member of the Rails core team and Ruby Hero
      Award winner in RailsConf 2010. A self-employed Ruby developer from
      Barcelona, he has spoken at numerous Ruby and Rails conferences across
      the world and is the author of Rails Contributors.
  - title: Upgrade strategies for Ruby and Rails
    speaker: Enrique Mogollan
    avatar: http://www.gravatar.com/avatar/13568f12c4de3b682b505822cc180458
    twitter: mogox
    abstract: |
      Are you running Rails 5 already? How about ruby 2.3.X?  I've been
      upgrading apps since Ruby 1.87 and Rails 2 and it's fun but there are
      always challenges.  In this talk I'll describe the different methods
      that are available and which have worked better for me in an agile
      environment.  This talk includes code examples, git graphs,  venn
      diagrams, config files and it is suitable for all levels.
  - title: Responsible gem collector
    speaker: Adam Niedzielski
    avatar: http://www.gravatar.com/avatar/9800e8331d2341549301c957a878f1c8
    twitter: niedzielskiadam
    abstract: |
      The power of Ruby comes from a huge number of available gems. "Just use
      gem X" is often an answer presented in blog posts or Stack Overflow
      topics. However, each new gem has an impact on the future maintenance
      cost of your application. Some gems are optimized for a short term
      perspective - they give you an instant burst of productivity, but you
      have to pay for it later on. Other gems require more initial effort on
      your side, but they are much more flexible when you have to introduce
      some non-standard changes. In this talk I will show you how to select
      gems for a long term perspective - as if you were to support your
      application for the next 5 years.
  - title: Semi-advanced PostgreSQL with Ruby on Rails
    speaker: Enrique García Cota
    avatar: https://pbs.twimg.com/profile_images/1163890262/super_400x400.png
    twitter: otikik
    abstract: |
      PostgreSQL is an awesome piece of tech. So is rails. However, when used
      in combination, there is a lot of cool functionality left out. We'll
      see how to activate some of it without too much effort.
  - title: Ten years with Rails, wow's and meh's
    speaker: Fernando Blat
    avatar: http://www.gravatar.com/avatar/89e7c8b162c71e9905fbfe7d2ec376dc
    twitter: ferblape
    abstract: |
      Many of us have growth as web developers using Ruby on Rails, taking
      advantage of the good practices and patterns that it introduced so
      subtly.
      I propose an exercise of taking a step back and, with some perspective,
      think about what we love and hate of this framework, why it's still
      cool and what we should demand in other frameworks we adopt.
    workshop:
      title: Rspec for newbies
      abstract: |
        This is a very introductory workshop forthose who don't want to
        write tests because of the time, or those that already know a bit
        of minitest. We'll develop a super-small API application, and we'll
        write the tests first!
  - title: Highly scalable storage with MySQL and Ruby
    speaker: Olek Janiszewski
    avatar: http://www.gravatar.com/avatar/70ce3eb95ce56c85b6da5bcfe7ce6b10
    twitter: exviva
    abstract: |
      At HotelTonight, we're handling millions of price and availability
      updates from thousands of hotels per month. See how we've developed a
      highly scalable append-only store built on top of MySQL and the Sequel
      gem to handle constant writes and almost real-time reads.
  - title: Understanding Unix pipes with Ruby
    speaker: Sergio Gil
    avatar: http://www.gravatar.com/avatar/45742831d67c80d12cd7b24907b8d760
    twitter: porras
    abstract: |
      I will present an amazing technology that matches a lot of <i>buzzwords</i>:
      scalable, parallel, stream-oriented data processing, with back
      pressure and a pluggable interface. And yet very simple to use and
      understand. The Unix pipe. Pipes are simple, right? And have been
      there since <i>forever</i>. And still, there is more to them than meets
      the eye. They have a series of properties that make them something
      more than a relic of the past, or a source of neat tricks to do shell
      oneliners. Things that are quite trendy despite the fact that pipes were
      invented almost 50 years ago, like parallelism, or data streams. In this
      talk, we’ll discover and discuss those properties and those use cases,
      all through Ruby examples.
  - title: 'KEYNOTE'
    speaker: Godfrey Chan
    twitter: chancancode
    type: keynote
    avatar: https://avatars3.githubusercontent.com/u/55829?v=3&s=466
    abstract: |
      Godfrey Chan (<a href='https://twitter.com/chancancode' target='_blank'>@chancancode</a>)
      is a member of the Ruby on Rails core team and an Ember.js contributor.
      He currently works at Tilde as an in-house Canadian. In his previous life,
      he was also an award-winning WordPress™ plugin author.
  - title: KEYNOTE
    speaker: Kerri Miller
    twitter: kerrizor
    type: keynote
    avatar: https://avatars3.githubusercontent.com/u/257689?v=3&s=466
    abstract: |
      Senior Software Developer based in Seattle, Kerri Miller
      (<a href='https://twitter.com/kerrizor' target='_blank'>@kerrizor</a>)
      has participated in numerous events around the world spreading her knowledge
      and voicing her opinions which are very highly regarded in the Ruby community.
      She is often in the role of bridging the gap between hard demands of technology
      and the soft desires of business and art. Kerri enjoys teaching among many
      things and is now part of the Github team.
  - title: 20 tips to secure your Rails app
    speaker: Daniel Lobato Garcia
    avatar: http://www.gravatar.com/avatar/fe4dc5ea02ac73b9981bcc549a7a288c
    twitter: dLobatog
    abstract: |
      Security is an afterthought for your app? You have a problem, but
      after you review your application and apply all of the tips, attackers
      will have it much harder than before.  We'll go over whitelisting vs
      blacklisting, how just visiting a site can be a problem (CSRF), how
      to deal with file uploads, security tokens and headers in your app,
      cookie replays, and more countermeasures to popular attacks.  CSRF,
      XSS, CVE sound like Star Wars' ships to you? Come to this talk and
      leave with a lot of ideas to start securing your Rails app.
  - title: Secrets of testing Rails 5 apps
    speaker: Prathamesh Sonpatki
    avatar: http://www.gravatar.com/avatar/1b0973b64704738dbc8ce24d8382bb1f
    twitter: _cha1tanya
    abstract: |
      Testing Rails 5 apps has become better experience out of the box.
      Rails has also become smarter by introducing the test runner.
      Now we can't complain that about not able to run a single test or not
      getting coloured output. A lot of effort gone into making tests
      especially integration tests run faster. The overall testing strategy is
      also moving from focussing testing internals to testing explicit parts of
      the whole system. Come and join me as we will commence the journey to
      uncover the secrets of testing Rails 5 apps.
    bio: |
      Prathamesh is Director at BigBinary based out of India. He builds web
      apps using Rails and React.js!. He is interested in open source and
      contribute to many Ruby and Rails related projects. He likes Emacs
      operating system a lot and can be found constantly tweaking his .emacs.d
    workshop:
      title: React on Rails workshop
      abstract: |
        In this workshop, we will learn about ReactJS and using ReactJS with a
        Ruby on Rails.
        We will be building an app with React and Rails to learn about React as 
        well as how to integrate it effectively with Rails. We will cover React
        basics - components, states and props - related to data flow. We will
        also look at setting up a React on Rails app. After that we will
        discuss rendering model of React components and various component
        lifecycle methods. We will also take a look at how to do server side
        rendering using React.
        At the end of the workshop, the attendees will get understanding of
        basics of React and how to integrate it with Rails. They will also have
        a working example of such app to continue learning further.
        For attending the workshop, familarity with Rails is expected. No prior
        knoweldge of React is required. Attendees are expected to bring laptops
        setup with Rails. We will send setup instructions before the workshop
        if required.
  - title: Bulk load data with ActiveRecord and NoSQL
    speaker: Carlos Sánchez Pérez
    avatar: http://www.gravatar.com/avatar/687f7d738303adc69c96a69b6b02a2e6 
    twitter: carlossanchezp
    abstract: |
      In this talk I want to explain my experience in the bulk load data on
      different projects with Active Record and NoSQL. I will try to speak
      about speed aspects, migration from millions of rows, external data
      from other systems, problems encountered, performance tuning and learned
      some tricks&hellip;
  - title: How we build an SPA with Rails API and React.js
    speaker: Adam Pahlevi
    avatar: http://www.gravatar.com/avatar/0545345f5c5e2d0e4b0959a1f4dc1e85
    twitter: adamvim
    abstract: |
      Thanks to React.js and Rails-API, now it is more intuitive to write the
      next app in this API-driven style. As this requires change of the way we
      used to write an app, this talk intend to demonstrate how it can be done.
      <ul>
      <li> - Why Rails API?</li>
      <li> - Why not Padrino? (+ our challenges/worry with Padrino).</li>
      <li> - How to write the components?</li>
      <li> - How to align them to work together with Assets Pipeline</li>
      <li> - How about page routing?</li>
      <li> - How about authentication/authorization?</li>
      <li> - What's advantage of doing all this?</li>
      </ul>
  - title: Phoenix Framework for Rails devs
    speaker: Javier Cuevas
    avatar: http://www.gravatar.com/avatar/6b4a126e8934bcc21bd3bbf42b331c63
    twitter: javier_dev
    abstract: |
      Phoenix Framework is a web framework for Elixir, a functional programming
      language created by José Valim (ex Rails core team) that runs on the
      Erlang VM.  The goal of the talk is to do a brief introduction to Elixir
      and introduce the Phoenix Framework, from the perspective of a Rails
      developer.  In the last ElixirConf EU about 80% of the audience were Ruby
      devs, so there is a clear interest on this technology among rubyists.
  - title: Tech work and mental health
    speaker: Diego Fernández Fernández
    avatar: https://pbs.twimg.com/profile_images/678550570404339712/1rRIJV1f.jpg
    twitter: littlemove
    abstract: |
      It's easy to find information, more or less accurate, about the physical
      toll that tech workers get from the kind of job we do and also how to
      avoid or mitigate some of the risks we get exposed too. But what about
      the mind?
      The purpose of this talk it's to point out the importance of mental
      health in our environment. We will try to answer questions about what are
      the risks we're exposed to and how to deal with them.
  - title: CLOSING
    speaker: Aaron Patterson
    twitter: tenderlove
    type: keynote
    avatar: https://avatars3.githubusercontent.com/u/3124?v=3&s=466
    abstract: |
      Ruby, Rails and Rack Core contributor. Renowned
      speaker at numerous international events,  and author of Nokogiri(XML
      parser) and Psych(YAML parser) Aaron Patterson
      (<a href='https://twitter.com/tenderlove' target='_blank'>@tenderlove</a>)
      is one of Ruby's most respected and loved programmers. He has improved
      ActiveRecord substantively in usability and performance and is also
      on the Ruby and Rails security teams.

---
<h1>Conferencia Rails <em class='date'>Madrid, 13-15th October 2016</em></h1>

<h2>Speakers</h2>
{% assign sorted_talks = page.talks | sort: 'speaker' %}
<div id='speakers'>
{% for talk in sorted_talks %}
  {% if talk.abstract %}
  <article class='talk' id="{{talk.twitter}}">
    {% if talk.avatar %}
      <div class='talk-image'>
        <img src='{{ talk.avatar }}'>
        <div class='talk-speaker-twitter'>
          <a href="https://twitter.com/{{talk.twitter}}">
            <img src="/img/twitter_ico.png">
          </a>
        </div>
      </div>
    {% endif %}
    <div class='talk-content'>
    <h1>{{ talk.speaker }}</h1>
    <p class='talk-detail'>{{ talk.title }}</p>
    <p>{{ talk.abstract }}</p>
    {% if talk.workshop %}
      <section class='workshop'>
        <p class='workshop-label'>Workshop:</p>
        <p class='talk-detail'>{{ talk.workshop.title }}</p>
        <p>{{ talk.workshop.abstract }}</p>
      </section>
    {% endif %}
  </article>
  {% endif %}
{% endfor %}
</div>
