<div id='sponsors'>
  <p class='sp-intro'>
  All this awesomeness is <b>powered</b> by our amazing sponsors.
  <a class='sp-cta' href='mailto:team@conferenciaror.es' target='_blank'>
    Do you want to be here next year?
  </a>
  </p>
  {% for level in site.sponsor-levels %}
    {% if level.sponsors.size > 0 %}
    <div class='{{ level.name }}'>
      <span class='sp-level-name'>
      <i class='fa fa-{{level.icon}}'></i>
        {{ level.name | capitalize }}
      </span>
      {% for sponsor in level.sponsors %}
        {% if sponsor.icon %}
        <a href='{{sponsor.url}}' target='_blank'>
        <img class='logo' alt="{{sponsor.name}}'s logo" src='img/{{sponsor.icon}}' title='{{sponsor.name}}'></a>
        {% else %}
          <span>[ <a href='{{sponsor.url}}' target='_blank'>{{sponsor.name}}</a> ]</span>
        {% endif %}
      {% endfor %}
    </div>
    {% else %}
    {% endif %}
  {% endfor %}
</div>
