.row-wrapper {
  @include row();

  .outer-container {
    @include outer-container;
  }
}
body {
  background: #000000;
}
.header-right {
  @include span-columns(2);
  .default-logo {
    @include size(100px);
    text-indent: -999999px;
    color: transparent;
    background: transparent url("../img/logo.png") center no-repeat;
    background-size: 100%;
  }
}
.default_header {
  background: $gdark url('../img/conferor.jpg') center no-repeat;
  @include pad();
}
