@media only screen and (max-width: 1024px) {  
	article {
		section {
			width: 100% !important;
			float: none;
			&.part-one {
				p {
					font-size: 2.5rem !important;
					letter-spacing: 0;
				}
			}
			&.part-two {
				ul.stats {
					li.stats-normal {
						font-size: 2rem !important;
					}
				}
			}
		}
	}
}

