<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/default_style.css">
    <title>La Conferencia Rails - {{ page.title }}</title>
  </head>
  <body>
  <div class='row-wrapper'>
    <div class='default_header outer-container'>
      <header class='default'>
        <div>
          <h1>
          </h1>
          <p>
            <span>
              21-22 October 2016
            </span>
          </p>
        <div>
        <nav>
          <a href='/index.html'>Home</a>
          <a href='/c4p.html'>Call 4 Papers</a>
          <a href='/coc.html'>Code of Conduct</a>
          <a href='/sponsor.html'>Sponsor!</a>
        </nav>
        Follow
        <a href="http://twitter.com/conferenciaror">
          @conferenciaror
        </a>
      </header>
    </div>
  </div>
    {{ content }}
  </body>
</html>
