<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <title>La Conferencia Rails - {{ page.title }}</title>
  </head>
  <body>
  <header>
    <nav>
      <a href='/index.html'>Home</a>
      <a href='/c4p.html'>Call 4 Papers</a>
      <a href='/coc.html'>Code of Conduct</a>
      <a href='/speakers.html'>Speakers</a>
      <a href='/sponsor.html'>Sponsor!</a>
    </nav>
    Follow
    <a href="http://twitter.com/conferenciaror">
      @conferenciaror
    </a>
  </header>
    {{ content }}
  </body>
</html>
